{% extends "base.html" %}

{% block content %}
<header id="cinebartop">
    <a href="#" id="aboutlink"> About </a>
    <a href=""> CV </a>
    <a href=""> Blog </a>
</header>
<main>
    <div id="about">
        <div>
            <div>
                <div><span id="closeabout">Close<span></div>
                <h1>Martin Claudel</h1>
                <span>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In posuere pharetra maximus. Etiam quis efficitur arcu, a condimentum purus. Donec bibendum augue arcu, eu porttitor urna iaculis non. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur et metus nisi. Donec ultricies, est sed pulvinar ultricies, nulla neque suscipit enim, ac vulputate lacus magna vitae mauris. Nulla hendrerit eleifend dui non molestie. Fusce bibendum eros et magna interdum varius eget sit amet nunc. Vestibulum quam leo, gravida non ultricies ut, congue sit amet quam.
    Nulla rhoncus ipsum eget eros mattis, at rhoncus dui euismod. Vivamus nec interdum turpis, sed cursus erat. Phasellus porta tristique mauris eu finibus. Quisque quis convallis dolor. Donec et orci ante. In dui purus, maximus in purus non, porta laoreet nisl. Nulla sed vulputate diam. Vivamus bibendum odio malesuada lacus convallis tincidunt. Sed ornare non velit id rhoncus. Nulla ultricies, nisl tempor ultrices posuere, ex justo finibus orci, eget interdum arcu nisi vitae tortor. In nec tortor sed ipsum sagittis ornare. Donec sit amet convallis sem. Pellentesque at tellus molestie, scelerisque nunc ac, tincidunt lacus. Duis vitae est at sem volutpat mollis. Phasellus porta, tortor nec maximus molestie, nibh erat maximus tortor, id congue dolor justo in massa. </span>
            </div>
        </div>
    </div>
    <div id="cinebardown"><span id="dialog">[ Click anywhere ]</span></div>
    <h1 class="title">
    </h1>


    <div id="guy">
        <div>
                    <img id="body" draggable="false" src="{{get_url(path='weird_little_guy.png')}}"/>
                    <img id="blush" draggable="false" src="{{get_url(path='blush.png')}}"/>
                    <img id="hands" draggable="false" src="{{get_url(path='hands.png')}}"/>
                    <div id="eye">
                        <div>
                            <div id="eyelid" class=""></div>
                            <img draggable="false" id="white" src="{{get_url(path='eyeball_white.png')}}"/>
                            <img draggable="false" id="pupil" src="{{get_url(path='eyeball_dark.png')}}"/>
                        </div>
                    </div>
                    <div id="mouth"></div>
                </div>
        </div>
    </div>

    <canvas id="homecanvas"></canvas>
    <script src="{{ get_url(path="js/bundle.js") }}"></script>
</main>
{% endblock content %}
